html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.text-orange {
    color: $orange;
}

.btn {
    padding: 17px 15px 16px;
    min-width: 236px;
    text-transform: uppercase;
    background-color: #01A9F1;
    color: white;
    border-radius: 26px;
    text-align: center;
    font-weight: 500;

    &--orange {
        background-color: $orange;
    }
}