@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'global';

@import 'components/header';
@import 'page-index/hero';
@import 'page-index/categories';
@import 'page-index/service';
@import 'page-index/advantages';
@import 'page-index/promo';
@import 'page-index/support';