.advantages {
    padding: 135px 0 153px;
    background-color: white;
    background-image: url('../images/advantages-bg.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    color: $dark-blue;

    @include maxw992 {
        padding: 100px 0;
    }

    @include maxw767 {
        padding: 85px 0;
    }

    @include maxw576 {
        padding: 71px 0;
    }

    &__title,
    &__text {
        text-align: center;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 46px;
        line-height: 50px;
        font-weight: 700;        
    }

    &__text {
        margin: 0 auto 29px;
        max-width: 450px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;

        
        @include maxw992 {
            margin-bottom: 45px;
        }
    }

    &__inner {
        justify-content: space-between;

        @include maxw992 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        max-width: 307px;
        width: 100%;
        text-align: center;

        &+& {
            @include maxw992 {
                margin-top: 45px;
            }
        }
    }

    &__item-icon {
        margin: 0 auto 40px;
        width: 124px;
        height: 124px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__item-title {
        margin-bottom: 19px;
        text-transform: uppercase;
        font-weight: 500;
        color: $dark-blue;
    }

    &__item-text {
        color: #A5ACB5;
        line-height: 26px;
    }
}