.categories {
    margin-top: -192px;
    &__inner {
        justify-content: space-between;
    }

    &__item {
        position: relative;
        max-width: 270px;
        width: 100%;
        padding: 35px 54px 0;
        box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.08);
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        background-color: white;

        &:nth-child(odd), &:nth-child(even) {
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 58px);
                height: 13px;
                background-color: $blue;
            }
        }

        &:nth-child(odd) {
            &:before {
                bottom: -13px;
                border-radius: 0 0 13px 13px;
            }
        }

        &:nth-child(even) {
            &:before {
                top: -13px;
                border-radius: 13px 13px 0 0;
            }
        }
    }

    &__pic {
        margin: 0 auto 25px;
        width: 162px;
        height: 162px;
        border-radius: 50%;
        background-color: #F3F8FD;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__name {
        margin-bottom: 33px;
        font-weight: 500;
        text-align: center;
        color: $dark-blue;
    }
}