.categories {
    height: 0;

    @include maxw992 {
        height: 570px;
    }

    @include maxw576 {
        height: auto;
        background-color: white;
    }

    &__inner {
        position: relative;
        top: -148px;
        justify-content: space-between;

        @include maxw1205 {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;
        max-width: 270px;
        width: 100%;
        padding: 35px 54px 0;
        box-shadow: 5px 3px 8px rgba(0, 0, 0, 0.08);
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        background-color: white;
        transition-property: box-shadow;
        transition-duration: 0.3s;

        &:hover {
            box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.3);
        }

        &:nth-child(odd),
        &:nth-child(even) {
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 58px);
                height: 13px;
                background-color: $blue;
            }
        }

        &:nth-child(2) {
            &::before {
                background-color: $orange;
            }
        }

        &:nth-child(3) {
            &::before {
                background-color: $green;
            }
        }

        &:nth-child(4) {
            &::before {
                background-color: $pink;
            }
        }

        &:nth-child(odd) {
            &:before {
                bottom: -13px;
                border-radius: 0 0 13px 13px;
            }
        }

        &:nth-child(even) {
            &:before {
                top: -13px;
                border-radius: 13px 13px 0 0;

                @include maxw992 {
                    top: auto;
                    bottom: -13px;
                    border-radius: 0 0 13px 13px;
                }
            }
        }

        @include maxw1205 {
            max-width: 45%;
            margin-bottom: 40px;
        }

        @include maxw576 {
            max-width: 270px;
            margin-bottom: 61px;
        }
    }

    &__pic {
        margin: 0 auto 25px;
        width: 162px;
        height: 162px;
        border-radius: 50%;
        background-color: #F3F8FD;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__name {
        margin-bottom: 33px;
        font-weight: 500;
        text-align: center;
        color: $dark-blue;
    }
}