.service {
    padding: 310px 0 130px;
    background-color: #FBFCFF;
    background-image: url('../images/service-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    

    @include maxw1205 {
        padding: 520px 0 100px;
    }

    @include maxw992 {
        padding: 83px 0 80px;
    }

    @include maxw576 {
        padding-bottom: 64px;
    }

    &__inner {
        @include maxw1205 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__box {
        max-width: 350px;
        width: 100%;

        @include maxw1205 {
            margin-bottom: 70px;
        }
    }

    &__title {
        max-width: 295px;
        width: 100%;
        margin-bottom: 45px;
        color: $dark-blue;
        font-size: 46px;
        line-height: 54px;
        font-weight: 700;

        @include maxw1205 {
            margin: 0 auto 35px;
            text-align: center;
        }

        @include maxw992 {
            margin-bottom: 19px;
        }
    }

    &__buttons {
        @include maxw1205 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__link{
        display: inline-block;
        &+&{
            margin-top: 20px;
        }

        @include maxw1205 {
            max-width: 260px;
        }
    }

    &__items {
        justify-content: space-between;
        flex-wrap: wrap;

        @include maxw1205 {
            justify-content: space-between;
        }

        @include maxw992 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        margin-bottom: 45px;
        max-width: 355px;
        width: 100%;

        @include maxw1205 {
            max-width: 45%;
        }

        @include maxw992 {
            max-width: 410px;
        }
    }

    &__item-info {
        align-items: center;
        margin-bottom: 4px;    
    }

    &__item-icon {
        margin-right: 24px;
        width: 45px;
        height: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__item-title {
        text-transform: uppercase;
        font-weight: 500;
        color: $dark-blue;
    }

    &__item-text {
        padding-left: 69px;
        font-size: 14px;
        line-height: 26px;
        color: #A5ACB5;
    }
}
