.support {
    padding: 300px 0 155px;
    background-color: #FBFCFF;
    background-image: url('../images/support-bg.svg');
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;


    @include maxw576 {
        padding: 215px 0 90px;
    }

    &__inner {
        justify-content: space-between;

        @include maxw1205 {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__box {
        max-width: 570px;
        width: 100%;

        @include maxw1205 {
            margin-bottom: 50px;
        }
    }

    &__title,
    &__text {
        margin-bottom: 31px;
    }

    &__title,
    &__cta {
        color: $dark-blue
    }

    &__title {
        font-size: 46px;
        line-height: 54px;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
        line-height: 26px;
        color: #A5ACB5;
    }

    &__cta {
        margin-bottom: 23px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__img-wrapper,
    &__img {
        position: relative;
    }

    &__img-wrapper {
        line-height: 0;

        &::before {
            content: "";
            position: absolute;
            bottom: -22px;
            right: -22px;
            width: 370px;
            height: 370px;
            border-radius: 12px;
            background-color: #D5F0FF;

            @include maxw576 {
                width: 175px;
                height: 216px;
                bottom: -11px;
                right: -11px;
            }
        }
    }

    &__img {
        max-width: 548px;
        width: 100%;
        border-radius: 12px;
        object-fit: contain;
        object-position: center;

        @include maxw576 {
            max-width: 350px;
        }
    }
}