.tips {
    padding: 146px 0 65px;
    background-image: url('../../images/tips-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;

    @include maxw576 {
        padding: 73px 0 39px;
    }

    &__title {
        margin-bottom: 57px;
        font-size: 46px;
        line-height: 55px;
        font-weight: 700;
        color: $dark-blue;
        text-align: center;
    }

    &__inner {
        justify-content: space-between;
        margin-bottom: 70px;

        @include maxw1205 {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        &+& {
            @include maxw1205 {
                margin-top: 40px;
            }
        }

        @include maxw576 {
            display: none;

            &:nth-child(1){
                display: block;
            }
        }
    }

    &__img,
    &__box {
        border-radius: 12px;
    }

    &__img {
        width: 370px;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include maxw992 {
            width: 350px;
            height: 300px;
        }

        @include maxw576 {
            width: 300px;
            height: 240px;
        }
    }

    &__box {
        margin: -61px auto 0;
        padding: 44px 36px;
        max-width: 330px;
        height: 253px;
        width: 100%;
        background-color: white;
        box-shadow: 5px 3px 16px rgba(0, 0, 0, 0.08);

        @include maxw576 {
            width: 280px;
            padding: 30px 25px 15px;
        }
    }

    &__link {
        margin-bottom: 15px;
        text-transform: uppercase;
        line-height: 24px;
        color: $blue;
        font-weight: 500;
        transition: color 0.2s;

        &:hover {
            color: $dark-blue;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 26px;
        color: #A5ACB5;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        max-width: 170px;
        text-align: center;
    }
}